body {
  text-align: center;
}

h1 {
  border-bottom: 1px solid lightgray;
}

h1 img {
  margin: 10px 10px 0;
  width: 25px;
  vertical-align: top;
}

h5 {
  color: gray;
  font-size: 0.9em;
  font-weight: normal;
  margin: 12px 0;
}

.info {
  border-top: 1px solid lightgray;
  padding-top: 8px;
  margin-top: 8px;
}

.info a {
  padding: 7px 0px 0px 7px;
  display: inline-block;
  vertical-align: top;
}
